#game {
	width: 100%;
	display: flex;
}

#game_field {
	width: 70%;
	height: 100%;
	float: left;
	margin: 0 auto;
	background-color: #FFF0F5; 
}

.before-game {
	opacity: 0.2;
}

.start-text {
	opacity:1;
	margin: 20% 10% 0 10%;
	text-align:center;
	color:#B22222;
	font-size: 3.5em;
	 animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
  50% { color: #B22222 }
  51% { color: #E9967A }
  100% { color: #B22222 }
}
@keyframes blink {
  50% { color: #B22222 }
  51% { color: #E9967A }
  100% { color: #B22222 }
}

#info_panel {
	width: 28%;
	margin: 0;
	padding: 1%;
	background-color: #FFDAB9;
}

#cat {
	position: absolute;
	left: 0;
	bottom: 0;
}

.flip_image {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#score {
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
	color: #B22222;
}

#score:before{
	content:"SCORE: "
}

label {
	font-size: 2em;
}
ul {
 	list-style-type: none;
}

#likes li {
	display: inline;
}

#likes{
	margin-left: 13%;
}

.hidden {
	visibility: hidden; 
}

.visible{
	visibility: visible;
}

.happy-circle {
	background-color: yellow;
	width: 8vw;
	height: 8vw;
	left: 0;
	bottom: 10vw;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

.play, .stop{
	cursor: pointer;
}

.music{
/* 	float:left; */
	margin: 7% 25%;
	width:50%;
	border: 1px solid #B22222
}

.button-panel{
	overflow:hidden;
}
label, h2{
	text-align:center;
	color: #B22222;
}

h2{
	font-size: 2em;
}
ul li{
	display: inline;
}