body {
	background: #ffffa7;
}

p,h3 {
	cursor: default;
}

.container {
	width: 1260px;
    height: 580px;
    margin: auto;
    color: #472e15;
    font-family: Arial;
}

.button {
	cursor: pointer;
	background: #ffffa7;
	border: 2px solid #472e15;
	border-radius: 7px;
	text-align: center;
}

.left {
	width: 75%;
	height: 100%;
	float: left;
}

.right {
	width: 25%;
	height: 100%;
	display: inline-block;
}

.content {
	background: #f8d3d7;
	width: 100%;
	height: 80%; 
	border: 2px solid #472e15;
	margin: -2px;
	border-bottom: none;
}

.bottom-bar {
	background: #9a7b55;
	width: 100%;
	height: 20%;
	border: 2px solid #472e15;
	margin: -2px;
}

.right-bar {
	background: #6d5944;
	width: 100%;
	height: 100%;
	border: 2px solid #472e15;
	margin: -2px;
}

.level-progress {
    position: relative;
    top: 20px;
    left: 20px;
    height: 20%;
}

.circle {
	width: 80px;
	height: 80px;
	background: #ffffa7;
	border: #472e15 solid 3px;
	border-radius: 50px;
	position: relative;
	top: 5px;
	left: 5px;
}

.circle div {
    position: relative;
    top: 7px;
    left: 8px;
}

.circle-img{
	background: url('../design/img/icons.png');
	background-position:-8px -132px;
	width:64px;
	height:64px;
}

.progress {
    width: 225px;
    height: 40px;
    border-radius: 7px;
    position: relative;
	float: left;
	text-align:center;
	font-weight: bold;
}

.progress.background {
    background-color: #eed295;
    border: 3px solid #472e15;
    top: 25px;
    left: 74px;
}

.progress.percent {
	background-color: #cca075;
	position: relative;
	width: 70%;
	height: 100%;
}

.progress p {
	position: absolute;
    left: 80px;
    font-size: 24px;
    margin: 0;
    top: 8px;
}

.level-progress h2 {
	margin-left: 84px;
    margin-top: -7px;
}

.cat-img {
	margin:auto;
	width: 80%;
	height: 80%;
	background-image: url(img/pusheen.gif);
	background-size: 40%;
	background-repeat: no-repeat;
    background-position: center; 
}

.money {
	height: 50%;
}

.money-img {
	background:url('../design/img/icons.png');
	background-repeat:no-repeat;
	background-position:-71px -5px;
	width:60px;
	height: 100%;
	float: left;
	margin: 0 0 0 5px;
}

.money p {
	color: yellow;
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
}

.games {
	height: 50%;
}

.games h3 {
	font-size: 40px;
    margin: 0px;
    padding: 8px 0 0 8px;
    float: left;
}

.games .button {
	width: 195px;
    height: 35px;
    display: inline-block;
    font-size: 30px;
    margin: 13px;
}

p.price:before {
	content: "Price: ";
}

p.calories:before {
	content: "Calories: ";
}

.right-bar .button.food {
	width: 210px;
    height: 64px;
    margin: 10px 0 0 52px;
}

.right-bar .button.food p {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0px 0px 0px;
    cursor: pointer;
}

.right-bar div {
	background-repeat:no-repeat;
	float: left;
	width: 60px;
	height:100%;
	padding: 0 0 0 7px;
}

.meat-img{
	background: url('../design/img/icons.png');
	background-position:-8px -204px;
}

.pizza-img{
	background: url('../design/img/icons.png');
	background-position:-6px -284px;
}
	
.hamburguer-img{
	background: url('../design/img/icons.png');
	background-position:-8px -132px;
}	

.donut-img{
	background: url('../design/img/icons.png');
	background-position:-8px -70px;
}

.cupcake-img{
	background: url('../design/img/icons.png');
}

.game-menu .button {
    width: 132px;
    height: 27px;
    float: left;
}

.game-menu .load {
	margin: 10px 0 0 120px;
}

.game-menu .save {
    margin: 30px 0 0 120px;
}

.game-menu p {
    margin: 0px;
    font-weight: bold;
    padding: 5px 0 0 0;
    cursor: pointer;
}

.right-bar .semicircle {
    height: 130px;
    background: #ffffa7;
    border: #472e15 solid 3px;
    border-radius: 80px 0 0 80px;
    margin: -100px 0 0 239px;
    position: relative;
}

