body{
	background-image: url(../img/back.jpg);
}

#game {
	width: 100%;
	display: flex;
}

#game_field {
	width:75%;
	height: 90%;
	float: left;
	margin: 0 auto;
}

#info_panel {
	width: 22%;
	margin: 0;
	padding: 1%;
	background-color: #191970;
	box-shadow: inset 30px 20px 200px black;
	color:gold;
}

#cat {
	position: absolute;
	left: 0;
	bottom: 0;
}

.before-game {
	background-image: url(../img/opacity-back.jpg);
	opacity: 0.2;
}

.start-text {
	opacity:1;
	margin: 20% 10% 0 10%;
	text-align:center;
	color:white;
	font-size: 3.5em;
	 animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
  50% { color: white }
  51% { color: grey; }
  100% { color: white; }
}
@keyframes blink {
   50% { color: white }
  51% { color: grey; }
  100% { color: white; }
}


.flip_image {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#score {
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
}

#score:before{
	content:"SCORE: "
}

label {
	font-size: 2em;
}
ul {
 	list-style-type: none;
}

#likes li {
	display: inline;
}

.hidden {
	visibility: hidden; 
}

.visible{
	visibility: visible;
}

.happy-circle {
	background-color: yellow;
	width: 8vw;
	height: 8vw;
	left: 0;
	bottom: 10vw;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
}

h1, h2{
	text-align:center;
	text-transform: uppercase; 
}

ul{
	margin:10%;
}

ul li{
	display:inline;
}

.info-life{
	padding-left:40%;
}
